<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{ name }}!</p>
  <p>It looks like a password change for your account has been requested.</p>
  <p>If it was you, then click the link below to choose a new password:</p>
  <p>
    <a href="{{ link }}">Reset my password</a>
  </p>
  <p>If it wasn't you, then discard that email!</p>
  <p>Thank you!</p>
  <br />
  <p><strong>GoBarber Team</strong></p>
</div>
